@import url('https://fonts.googleapis.com/css2?family=Amiri&family=EB+Garamond:ital,wght@1,600&display=swap');
$amiri: 'Amiri', serif;

@font-face {
  font-family: 'BlantePanamaScript';
  src: local('BlantePanamaScript'), url('../fonts/BlantePanamaScript.ttf') format('truetype');
}
@font-face {
  font-family: 'MinionVariableRoman';
  src: local('MinionVariableRoman'), url('../fonts/MinionVariableRoman.otf') format('opentype');
}
@font-face {
  font-family: 'MinionVariableItalic';
  src: local('MinionVariableItalic'), url('../fonts/MinionVariableItalic.otf') format('opentype');
}

html, body, body > div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
  padding: 0 !important;
  color: #50382a;
}
