.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.Castle {
  height: 800px;
  width: max-content;
}

.Heading {
  text-align: center; 
  margin-top: 48px; 
  color: #00008b;
}
