.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.Hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Castle {
  height: 450px;
  width: 650px;
  object-fit: cover;
}

.Heading {
  text-align: center; 
  margin: 48px 0 24px; 
  font-family: 'MinionVariableItalic';
  font-size: 54px;
}

.Names {
  font-family: 'BlantePanamaScript';
  font-size: 64px;
  text-align: center;
}

.Countdown {
  text-align: center;
  padding: 56px 0 0;
  font-family: 'MinionVariableRoman';
  font-size: 36px;
}
