@use 'base';

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png);
  // https://www.toptal.com/designers/subtlepatterns/uploads/cork-wallet.png
  // https://www.toptal.com/designers/subtlepatterns/uploads/dust_scratches.png
  // https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png
  background-repeat: repeat;
}

.Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.Hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Castle {
  height: 40vw;
  width: 60vw;
  object-fit: cover;

  @media screen and (max-width: 600px) {
    width: 70vw;
    height: 45vw;
  }
}

.JoinUs {
  text-align: center;
  margin: 48px 0 24px;
  font-family: 'MinionVariableItalic';
  font-size: 54px;
}

.Names {
  font-family: 'BlantePanamaScript';
  font-size: 64px;
  text-align: center;
  margin-top: 28px;

  @media screen and (max-width: 600px) {
    line-height: 48px;
  }
}

.Countdown {
  text-align: center;
  padding: 56px 0 0;
  font-family: 'MinionVariableRoman';
  font-size: 28px;
}

.Container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main {
  width: 70vw;
}

.MenuText {
  margin-left: 16px;
  font-size: 24px;
}

.Divider {
  margin-top: 48px;
  filter: invert(35%) sepia(6%) saturate(1339%) hue-rotate(341deg)
    brightness(94%) contrast(88%);
  padding: 0 10vw;
  @media screen and (max-width: 600px) {
    padding: 0 7.5vw;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 15vw;
  }
}

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageListItem,
.SpotlightImage {
  border-radius: 12px;
}

.SpotlightImageContainer {
  z-index: 100;
}

.SpotlightImage {
  max-width: 80vw;
  max-height: 80vh;
  filter: drop-shadow(8px 8px 8px black);
}

.ArrowLeft.root,
.ArrowRight.root {
  z-index: 200;
  bottom: 50vh;
  height: 3vw;
  width: 3vw;
  position: absolute;
  color: white;

  @media screen and (max-width: 600px) {
    width: 8vw;
    height: 8vw;
  }
}

.ArrowLeft.root {
  left: 5vw;
}

.ArrowRight.root {
  right: 5vw;
}

.Author {
  font-family: 'MinionVariableItalic';
  font-size: 14px;
  text-align: right;
  margin: 36px 0;
}

.Container {
  align-items: normal;
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h1,
  h2 {
    text-align: center;
  }

  div {
    margin-bottom: 12px;
  }
}

.Attire {
  text-align: center;

  h2 {
    margin-bottom: 18px;
  }

  .AttireOccasion {
    margin-bottom: 48px;
  }

  .Gender {
    font-weight: 900;
  }
}
