@use 'base';

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png);
  // https://www.toptal.com/designers/subtlepatterns/uploads/cork-wallet.png
  // https://www.toptal.com/designers/subtlepatterns/uploads/dust_scratches.png
  // https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png
  background-repeat: repeat;
}

.Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.Hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Castle {
  height: 40vw;
  width: 60vw;
  object-fit: cover;

  @media screen and (max-width: 600px) {
    width: 70vw;
    height: 45vw;
  }
}

.JoinUs {
  text-align: center;
  margin: 48px 0 24px;
  font-family: 'MinionVariableItalic';
  font-size: 54px;
}

.Names {
  font-family: 'BlantePanamaScript';
  font-size: 64px;
  text-align: center;
  margin-top: 28px;

  @media screen and (max-width: 600px) {
    line-height: 48px;
  }
}

.Countdown {
  text-align: center;
  padding: 56px 0 0;
  font-family: 'MinionVariableRoman';
  font-size: 28px;
}

.Container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main {
  width: 70vw;
}

.MenuText {
  margin-left: 16px;
  font-size: 24px;
}

.Divider {
  margin-top: 48px;
  filter: invert(35%) sepia(6%) saturate(1339%) hue-rotate(341deg)
    brightness(94%) contrast(88%);
  padding: 0 15vw;

  @media screen and (max-width: 1200px) {
    padding: 0 10vw;
  }
}
