@use 'base';

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.Hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Castle {
  height: 450px;
  width: 800px;
  object-fit: cover;

  @media screen and (max-width: 600px) {
    width: 80vw;
    height: 230px;
  }
}

.Heading {
  text-align: center; 
  margin: 48px 0 24px; 
  font-family: 'MinionVariableItalic';
  font-size: 54px;
}

.Names {
  font-family: 'BlantePanamaScript';
  font-size: 64px;
  text-align: center;
}

.Countdown {
  text-align: center;
  padding: 56px 0 0;
  font-family: 'MinionVariableRoman';
  font-size: 28px;
}

.Container {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tabs.Tab.TabColor {
  color: base.$brown;
  font-family: 'MinionVariableRoman';
  font-size: 20px;
}

.Tabs.Tab.Selected {
  background-color: base.$tan;
  border-radius: 8px;
  color: white;
}

.Tabs.Indicator {
  display: none;
}

.Tabs.FlexContainer {
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.Day {
  margin-bottom: 64px;

  h1 {
    margin-bottom: 28px;
  }
}

.Event {
  margin-bottom: 24px;
  line-height: 24px;
  font-size: 24px;

  div {
    margin-bottom: 6px;
  }
}

.GiftsCopy, .GettingThere, .Accommodations, .RSVP {
  div {
    margin: 18px 0;
  }
}

.Occasion.Container {
  margin-bottom: 24px;
}

.Occasion.Title {
  font-size: 32px;
  margin: 8px 0;
}

.Occasion.Subtitle {
  font-size: 24px;
  margin: 12px 0;
}

span.Gender {
  font-weight: 700;
}

.GettingThere {
  div {
    margin: 12px;
  }
}

.MenuText {
  margin-left: 12px;
  font-size: 18px;
}

.Schedule {
  text-align: center;
  font-family: 'MinionVariableRoman';

  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}