@use 'base';

.Container {
  margin-top: 54px;
}

.Tabs.Tab.TabColor {
  color: base.$brown;
  font-family: 'MinionVariableRoman';
  font-size: 18px;
}

.Tabs.Indicator {
  background-color: base.$brown;
}

.Schedule {
  font-family: 'MinionVariableRoman';
}

.Day {
  margin-bottom: 48px;
  text-align: center;

  h1 {
    margin-bottom: 28px;
  }
}

.Event {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 18px;

  div {
    margin-bottom: 6px;
  }
}
