@use 'base';

.Container {
  margin-top: 54px;
}

.Tabs.Tab.TabColor {
  color: base.$brown;
  font-family: 'MinionVariableRoman';
  font-size: 16px;
}

.Tabs.Indicator {
  background-color: base.$brown;
}

.Schedule {
  font-family: 'MinionVariableRoman'; 
}

.Event {
  margin-bottom: 12px;
}

.EventDetails {
  margin-bottom: 6px;
}
