@import url('https://fonts.googleapis.com/css2?family=Amiri&family=EB+Garamond:ital,wght@1,600&display=swap');
$amiri: 'Amiri', serif;

html, body, body > div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
  padding: 0 !important;
}

.Background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.BackgroundImage {
  background-image: url("./assets/ring.jpg");
  filter: blur(50px);
  -webkit-filter: blur(50px);
  //transform: scale(1.1);  
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Ring {
  z-index: 10;
  height: 100vh;

  img {
    height: 100%;
  }
}

.Dialog.Backdrop, .Dialog.Container, .Dialog.Root {
  height: 100vh;
  width: 100vw;
}

.Dialog.Paper {
  padding: 32px;
  background-color: #FBFAF5;
  border-radius: 15px;
}

.Dialog.TitleText {
  font-family: $amiri;
  text-align: center;
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 1.3em;
}

.Dialog.ContentText {
  font-family: $amiri;
  font-size: 24px;
  line-height: 1.5em;
  font-style: italic;
}
