@import url('https://fonts.googleapis.com/css2?family=Amiri&family=EB+Garamond:ital,wght@1,600&display=swap');
$amiri: 'Amiri', serif;

body {
  margin: 0px;
  padding: 0px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;

  .BackgroundImage {
    background-image: url("./assets/ring.jpg");
  
    filter: blur(50px);
    -webkit-filter: blur(50px);    
    width: 100vw;
    height: 100vh;
    transform: scale(1.1);

    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  
  .Ring {
    z-index: 1; 

    img {
      height: 100vh;
    }
  }
}


.Dialog.Paper {
  padding: 32px;
}

.Dialog.TitleText {
  font-family: $amiri;
  font-style: regular;
  text-align: center;
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 1.3em;
}

.Dialog.ContentText {
  font-family: $amiri; 
  font-size: 24px;
  line-height: 1.5em;
  font-style: italic;
}